<div class="users-new-wrapper">
  <div class="container users-new-container">
    <div class="row">
      <div class="col-md-5">
        <%= link_to 'ユーザー一覧', users_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-offset-2 col-md-5">
        <%= link_to 'チャットルーム', rooms_show_path, class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>  
  