<div class="users-new-wrapper">
  <div class="container users-new-container">
   <h1>パズドラ</h1>
   <input type="text" class="form-control" id="chat-input" />
   <button id="button" class="btn btn-primary">送信</button>
    <div id="messages">
     <%= render @messages %>
    </div>
  </div>
</div>    